[Unit]
Description=Bastion IP Service
After=NetworkManager.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/bastion.pl

[Install]
WantedBy=multi-user.target
